@import "tailwindcss";

@theme {
  --color-black: #000;
  --color-normal: #fff;

  --color-black-100: #11295a;
  --color-black-200: #134195;
  --color-black-300: #0f49be;
  --color-black-400: #0a5aeb;
  --color-black-500: #0a6eff;
  --color-green-700: #2891ff;

  --color-neon: #88cfff;
  --color-green-100: #50b4ff;
  --color-green-200: #88cfff;
  --color-green-300: #b9e1ff;
  --color-green-400: #d7edff;

  --color-linkedin: #297bff;
  --color-github: #171515;
}
